@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'New Tegomin', serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	flex-direction: column;
}

.text-container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	height: 10vh;
	width: 100vw;
}

.container {
	display: flex;
	width: 90vw;
}

.image {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	flex: 0.5;
	height: 80vh;
	margin: 10px;
	border-radius: 50px;
	color: rgb(173, 14, 14);
	transition: flex 0.7s ease-in;
	cursor: pointer;
}

.image.active {
	flex: 5;
}

@media (max-width: 480px) {
	.container {
		width: 100vw;
	}

	.image:nth-of-type(4),
	.image:nth-of-type(5) {
		display: none;
	}
}
